.n-card {
  border: solid grey 1px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.n-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.n-card__subtitle {
  font-size: 1rem;
  margin: 0;
  color: rgb(92, 92, 92);
}

.n-card__content {
  font-size: 1rem;
  margin: 0;
}

.n-card hr {
  margin: 1rem 0;
}

.n-card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}