.n-card {
  position: relative;
  padding: 1rem;
  box-shadow: 3px 15px 25px 0 rgb(0,0,0,0.05);
  border-radius: 5px;
  border: solid 1px rgb(223, 223, 223);
  background-color: rgb(255, 255, 255);
}

.n-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.n-card__subtitle {
  font-size: 1rem;
  margin: 0;
  color: rgb(92, 92, 92);
}

.n-card__content {
  font-size: 1rem;
  margin: 0;
}

.n-card hr {
  margin: 1rem 0;
}

.n-card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}