.n-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--theme-color, #007bff);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a.n-button {
  text-decoration: none;
}

.n-button--tiny {
  padding: 2px 5px;
  font-size: 10px;
}

.n-button--small {
  padding: 5px 10px;
  font-size: 14px;
}

.n-button--medium {
  padding: 10px 20px;
  font-size: 16px;
}

.n-button--large {
  padding: 15px 30px;
  font-size: 18px;
}

